# Author: Abdelrahman Mohamed ElSayed

# Task1 
Create a variable named x, and assign it a value of 20.

In [ ]:
x = 20

# Task2
Create two variables named x and y, and assign them with values 10 and 20 respectively.

In [ ]:
x = 10
y = 20

# Task3 
Create a variable named x which is assigned a value of 'apple'. Print the variable x to standard output.

In [ ]:
x = "apple"

# Task4
Assign variable x with 10, and variable y with 20. Find their sum and assign the result to a variable z. Then print the variable z.

In [1]:
x = 10
y = 20
z = x + y
print(z)

30

# Task5
Initialize all the three variables x, y, and z with the same value of 'apple' in a single statement.

In [3]:
x = y = z = "apple"

apple

# Task6
What is the built-in function that returns the type of the given value or variable (x or y or z).

In [5]:
type()

int

# Task7
Which built-in function is used to read input from user?

In [ ]:
input()

# Task8
Reverse a given string 
str1 = "Amit Learning"

In [6]:
str1 = "Amit Learning" [::-1]
print(str1)

gninraeL timA

# Task9
split a given string
str2 = "Dema-is-a-data-scientist"

output >> ['Dema', 'is', 'a', 'data', 'scientist']

In [7]:
str2 = "Dema-is-a-data-scientist"

output = str2.split("-")
print(output)

['Dema', 'is', 'a', 'data', 'scientist']

# Task10
Join this list['Dema', 'is', 'a', 'data', 'scientist'] 

output >> 'Dema is a data scientist'

In [8]:
list = ['Dema', 'is', 'a', 'data', 'scientist'] 
str = " ".join(list)
print(str)

Dema is a data scientist

# Task11
Get the characters:

From: "o" in "World!" 

To, but not included: "d" in "World!"

str1 = "Hello, World!"

# Task12
Check if "free" is present in the following text:

txt = "The best things in life are free!"

In [11]:
txt = "The best things in life are free!"

x = txt.find("free")

print(x)

28

# Task13
removes any whitespace from the beginning or the end

s = " Hello, World! "

In [10]:
s = " Hello, World! "
s = s.strip()
print(s)

Hello, World!

# Task14
Replace the character H with J.


txt = "Hello World"

In [9]:
txt = "Hello World"
txt2 = txt.replace("H", "J") 
print(txt2)

Jello World

# Task15
After you have finished the first session, can you explain briefly what information was learned and also what information you learned through the search?