# Author: Abdelrahman Mohamed ElSayed

# Task1
Write a Python program to add an item to a tuple.

In [ ]:
itemTupple = ("item1", "item2")
itemlist = list(itemTupple)
itemlist.append("item3")
itemTupple = tuple(itemlist)
print(itemTupple)

('item1', 'item2', 'item3')

# Task2
Write a Python program to sum all the items in a list.

In [6]:
list1 = [5, 10 , 15]
listSum = sum(list1)
print(listSum)

30

# Task3
Write a Python program to multiply all the items in a list.

In [11]:
list1 = [3, 3, 3]
x = 1;
for i in list1:
    x *= i;

print(x)

27

# Task4
Write a Python program to get the smallest number from a list.

In [13]:
list1 = [3, 9, 16]
minVal = min(list1)
print(minVal)

3

# Task5
Write a Python program to get the largest number from a list.

In [14]:
list1 = [3, 9, 16]
maxVal = max(list1)
print(maxVal)

16

# Task6 
Write a Python program to count the number of strings from a given list of 
strings.

In [16]:
list1 = ["x", "y", "z", "a"]
x = 0;
for i in list1:
    x += 1

print(x)

4

# Task7
Write a Python program to clone or copy a list

In [17]:
list1 = [1, 2 , 3]
list2 = list1.copy()
print(list2)

[1, 2, 3]

# Task8
Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])

In [18]:
set1 = set([0, 1, 3, 4, 5])
set1.remove(0)
set1.remove(3)
print(set1)

{1, 4, 5}

# Task9
Write a Python program to find the maximum and minimum values in a set.

In [19]:
set1 = set([0, 1, 3, 4, 5])

maxVal = max(set1)
minVal = min(set1)

print(maxVal)
print(" ")
print(minVal)

5

0

# Task10
Write a Python program to convert a tuple to a dictionary.

In [6]:
dict1 = {}
tuple1 = ("name", "age", "city")

for i, key in enumerate(tuple1):
    dict1[key] = None

print(dict1)

{'name': None, 'age': None, 'city': None}

# Task11
Write a Python program to reverse a tuple.

In [1]:
Tup1 = ('a' , 'b' , 'c', 'd', 'e', 'f', 'g')
Tup2 = Tup1[::-1]
print(Tup2)

('g', 'f', 'e', 'd', 'c', 'b', 'a')

# Task12
Write a Python program to convert a list of tuples into a dictionary

In [2]:
list1 = [("item1", 1), ("item2", 2), ("item3", 3), ("item4", 4)]
dict1 = {}

dict1 = dict(list1)
print(dict1)

{'item1': 1, 'item2': 2, 'item3': 3, 'item4': 4}

# Task13
Write a Python program to replace the last value of tuples in a list.

Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [5]:
list1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

for i in range(len(list1)):
    list1[i] = list1[i][:-1] + (100,)

print(list1)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

# Task14
Remove the illegal characters in the variable name:

var_name = "%%6my name is ami^t"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

output is "my name is amit"

In [3]:
var_name = "%%6my name is ami^t"

illegal_chars = "0123456789!@#$%^&*()-+=[]{}|\\;:'\",.<>/?~"

tran_table = str.maketrans('', '', illegal_chars)

Output = var_name.translate(tran_table)

print(Output)

my name is amit

# Task15
Write a Python program to print the even and odd numbers in a series of numbers

Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
    
Expected Output :
    
Number of even numbers : 2,4,6,8
    
Number of odd numbers : 1,3,5,7,9

In [4]:
numbers = (1, 2, 3 ,4 ,5 ,6 ,7 ,8 ,)
even = []
odd = []

for i in numbers:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8]
[1, 3, 5, 7]

# Task16
Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".

In [ ]:
for number in range(1,50):
    if number % 3 == 0 and number % 5 == 0:
        print("fizzbuzz")
    if number % 3 == 0:
        print("fizz")
    if number % 5 == 0:
        print("buzz")
    else:
        print(number)

# Task17
After you have finished the second session, can you explain briefly what information was learned and also what information you learned through the search?